
<% if user_signed_in? %>

<div class="my-5">    
  <%= render 'form', post: @post %>
</div> 
<% else %>

<main role="main" class="inner cover my-5 container">
  <h1 class="cover-heading">Welcome to the Members Only</h1>
  <p class="lead">This is an exclusive clubhouse where members can write anonymous posts. Inside the clubhouse, members can see who the author of a post is but, outside, they can only see the story and wonder who wrote it. So <em>Sign up</em> or <em>Sign In</em> to create a post!</p>
  <p class="lead">
    <%= link_to 'Create Post', new_post_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>

  
<% end %>
 

<div class="row">
<% @posts.each do |post| %>  

<div class="p-2 col-sm-6 col-lg-4">
<div class="card">
  <div class="card-header">
    <strong>posted:</strong> <em> <%= time_ago_in_words(post.created_at) %> ago</em>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= post.body %></p>
      <% if user_signed_in? %>
      <footer class="blockquote-footer"><%= post.user.username %></footer>
    </blockquote>
    <% end %>
  </div>
</div>
</div>

<% end %>

</div>